<div class="page-container">
    <app-logged-in-header></app-logged-in-header>
    <div class="container">
        <div class="title-container">
            <span>Compra tus entradas y disfruta!</span>
        </div>
        <div class="content">
            @if(event){
                <app-event-card [data]="event"></app-event-card>
                <div class="panel-container box-shadow">
                    <div class="description">
                        <span class="about">Acerca del evento</span>
                        <br><br>
                        <p class="text">
                            {{event.extendedDescription}}
                        </p>
                    </div>
                    <div class="actions">
                        <span class="price">Precio: <span>S/ {{event.unitPrice.toFixed(2)}}</span></span>
                        <button mat-flat-button (click)="openBuyDialog()">COMPRAR ENTRADA</button>
                    </div>
                </div>
            }
            
        </div>
    </div>
    <app-footer></app-footer>
</div>