<div class="page-container">
<app-simple-header></app-simple-header>
<div class="title-container">
    <div class="title">
        <span>Reestablecer contraseña, ingresa los datos requeridos para reestablecer tu contraseña</span>
    </div>
</div>
<div class="content-container">
    <div class="card box-shadow">
        <div class="form-title-container">
            <span>REESTABLECER</span>
        </div>
        <form #forgotPasswordForm="ngForm">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" ngModel name="email"
                 #email="ngModel"
                  required
                  email/>
                  @if(email.hasError("required")){
                    <mat-error>Email es requerido</mat-error>
                  }@if(email.hasError("email")){
                    <mat-error>Ingresa un email válido</mat-error>
                  }
                  
            </mat-form-field>
            <button [disabled]="forgotPasswordForm.invalid" mat-flat-button
             class="box-shadow"
             (click)="sendToken(email.value)">ENVIAR TOKEN</button>
            <div class="login">
                <span>Si ya tienes una cuenta <span class="text-link" routerLink="/login">ingresa</span></span>
            </div>
        </form>
    </div>
</div>
<app-footer></app-footer>
</div>